<footer class="sections bottom-footer" id="footer-sections" data-footer-sections>
    <section id="fe-footer-section" data-test="page-section" data-section-theme="light" class='page-section layout-engine-section background-width--full-bleed section-height--custom horizontal-alignment--center vertical-alignment--middle light' data-controller="SectionWrapperController" data-animation="none">
        <div class="section-border">
            <div class="section-background">
            </div>
        </div>
        <div id="fe-footer-container" class='content-wrapper'>
            <div id="fe-footer-content" class="content">
                <div class="sqs-layout sqs-grid-12 columns-12">
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                <div class="sqs-block-content">
                                    <div class="sqs-html-content">
                                        <p class="sqsrte-small fe-footer-text">&nbsp;unfoldingWord® Open Bible Stories is developed by unfoldingWord® and the Door43 World Missions Community. The illustrations are © Sweet Publishing and the entire project—text and illustrations—is made available under a Creative Commons Attribution-ShareAlike 4.0 International License, see the license for more information.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>