<header data-test="header" id="header" class="dark header theme-col--primary" data-controller="Header" data-current-styles="{
    &quot;layout&quot;: &quot;navRight&quot;,
    &quot;action&quot;: {
    &quot;buttonText&quot;: &quot;Get Started&quot;,
    &quot;newWindow&quot;: false
    },
    &quot;showSocial&quot;: false,
    &quot;socialOptions&quot;: {
    &quot;socialBorderShape&quot;: &quot;none&quot;,
    &quot;socialBorderStyle&quot;: &quot;outline&quot;,
    &quot;socialBorderThickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    },
    &quot;menuOverlayAnimation&quot;: &quot;fade&quot;,
    &quot;cartStyle&quot;: &quot;cart&quot;,
    &quot;cartText&quot;: &quot;Cart&quot;,
    &quot;showEmptyCartState&quot;: true,
    &quot;cartOptions&quot;: {
    &quot;iconType&quot;: &quot;stroke-1&quot;,
    &quot;cartBorderShape&quot;: &quot;none&quot;,
    &quot;cartBorderStyle&quot;: &quot;outline&quot;,
    &quot;cartBorderThickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    },
    &quot;showButton&quot;: false,
    &quot;showCart&quot;: false,
    &quot;showAccountLogin&quot;: true,
    &quot;headerStyle&quot;: &quot;dynamic&quot;,
    &quot;languagePicker&quot;: {
    &quot;enabled&quot;: false,
    &quot;iconEnabled&quot;: false,
    &quot;iconType&quot;: &quot;globe&quot;,
    &quot;flagShape&quot;: &quot;shiny&quot;,
    &quot;languageFlags&quot;: [ ]
    },
    &quot;mobileOptions&quot;: {
    &quot;layout&quot;: &quot;logoLeftNavRight&quot;,
    &quot;menuIcon&quot;: &quot;doubleLineHamburger&quot;,
    &quot;menuIconOptions&quot;: {
    &quot;style&quot;: &quot;doubleLineHamburger&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    }
    },
    &quot;dynamicOptions&quot;: {
    &quot;border&quot;: {
    &quot;enabled&quot;: false,
    &quot;position&quot;: &quot;allSides&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 4.0
    }
    }
    },
    &quot;solidOptions&quot;: {
    &quot;headerOpacity&quot;: {
    &quot;unit&quot;: &quot;%&quot;,
    &quot;value&quot;: 100.0
    },
    &quot;border&quot;: {
    &quot;enabled&quot;: false,
    &quot;position&quot;: &quot;allSides&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 4.0
    }
    },
    &quot;dropShadow&quot;: {
    &quot;enabled&quot;: false,
    &quot;blur&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 30.0
    },
    &quot;spread&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    },
    &quot;distance&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    }
    },
    &quot;blurBackground&quot;: {
    &quot;enabled&quot;: false,
    &quot;blurRadius&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    }
    },
    &quot;gradientOptions&quot;: {
    &quot;gradientType&quot;: &quot;faded&quot;,
    &quot;headerOpacity&quot;: {
    &quot;unit&quot;: &quot;%&quot;,
    &quot;value&quot;: 90.0
    },
    &quot;border&quot;: {
    &quot;enabled&quot;: false,
    &quot;position&quot;: &quot;allSides&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 4.0
    }
    },
    &quot;dropShadow&quot;: {
    &quot;enabled&quot;: false,
    &quot;blur&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 30.0
    },
    &quot;spread&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    },
    &quot;distance&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    }
    },
    &quot;blurBackground&quot;: {
    &quot;enabled&quot;: false,
    &quot;blurRadius&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    }
    },
    &quot;showPromotedElement&quot;: false
    }" data-section-id="header" data-header-theme="" data-menu-overlay-theme="" data-header-style="dynamic" data-language-picker="{
    &quot;enabled&quot;: false,
    &quot;iconEnabled&quot;: false,
    &quot;iconType&quot;: &quot;globe&quot;,
    &quot;flagShape&quot;: &quot;shiny&quot;,
    &quot;languageFlags&quot;: [ ]
    }" data-first-focusable-element tabindex="-1">
    <div class="sqs-announcement-bar-dropzone"></div>
    <div class="header-announcement-bar-wrapper">
        <a href="#page" tabindex="1" class="header-skip-link sqs-button-element--primary">
            Skip to Content
        </a>
        <div class="header-border" data-header-style="dynamic" data-test="header-border" style="border-width: 0px !important;"></div>
        <div class="header-dropshadow" data-header-style="dynamic" data-test="header-dropshadow"></div>
        <div class='header-inner container--fluid header-mobile-layout-logo-left-nav-right header-layout-nav-right' style="padding: 0;" data-test="header-inner">
            <!-- Background -->
            <div class="header-background theme-bg--primary"></div>
            <div class="header-display-desktop" data-content-field="site-title">
                <!-- Title and nav wrapper -->
                <div class="header-title-nav-wrapper">
                    <!-- Title -->
                    <div class="header-title" data-animation-role="header-element">
                        <div class="header-title-logo">
                            <a href="./index.html" data-animation-role="header-element">
                                <img src="./assets/images/fe.png?format=1500w" alt="First Encounters">
                            </a>
                        </div>
                    </div>
                    <!-- Nav -->
                    <div class="header-nav">
                        <div class="header-nav-wrapper">
                            <nav class="header-nav-list">
                                <div id="introduction-header-nav-item" class="header-nav-item header-nav-item--collection">
                                    <a href="./overview.html" data-animation-role="header-element">
                                            Introduction
                                        </a>
                                </div>
                                <div id="mtb-header-nav-item" class="header-nav-item header-nav-item--collection">
                                    <a href="./mission-translation-brief.html" data-animation-role="header-element" aria-current="page">
                                            Mission Translation Brief
                                        </a>
                                </div>
                                <div id="obs-header-nav-item" class="header-nav-item header-nav-item--collection">
                                    <a href="./obs.html" data-animation-role="header-element">
                                            Open Bible Stories
                                        </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="header-actions header-actions--right">
                    <div class="showOnMobile">
                    </div>
                    <div class="showOnDesktop">
                    </div>
                </div>
                <!-- Burger -->
                <div class="header-burger
                menu-overlay-has-visible-non-navigation-items no-actions" data-animation-role="header-element">
                    <button class="header-burger-btn burger" data-test="header-burger">
                        <span hidden class="js-header-burger-open-title visually-hidden">Open Menu</span>
                        <span hidden class="js-header-burger-close-title visually-hidden">Close Menu</span>
                        <div class="burger-box">
                            <div class="burger-inner header-menu-icon-doubleLineHamburger">
                                <div class="top-bun"></div>
                                <div class="patty"></div>
                                <div class="bottom-bun"></div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="header-display-mobile" data-content-field="site-title">
                <!-- Title and nav wrapper -->
                <div class="header-title-nav-wrapper">
                    <!-- Title -->
                    <div class="header-title" data-animation-role="header-element">
                        <div class="header-title-logo">
                            <a href="./index.html" data-animation-role="header-element">
                                <img src="./assets/images/fe.png?format=1500w" alt="First Encounters">
                            </a>
                        </div>
                    </div>
                    <!-- Nav -->
                    <div class="header-nav">
                        <div class="header-nav-wrapper">
                            <nav class="header-nav-list">
                                <div class="header-nav-item header-nav-item--collection">
                                    <a id="introduction-header-nav-item-mobile" href="./overview.html" data-animation-role="header-element">
                                            Introduction
                                        </a>
                                </div>
                                <div id="mtb-header-nav-item-mobile" class="header-nav-item header-nav-item--collection">
                                    <a href="./mission-translation-brief.html" data-animation-role="header-element" aria-current="page">
                                            Mission Translation Brief
                                        </a>
                                </div>
                                <div id="obs-header-nav-item-mobile" class="header-nav-item header-nav-item--collection">
                                    <a href="./obs.html" data-animation-role="header-element">
                                            Open Bible Stories
                                        </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Actions -->
                <div class="header-actions header-actions--right">
                    <div class="showOnMobile">
                    </div>
                    <div class="showOnDesktop">
                    </div>
                </div>

                <!-- Burger -->
                <div class="header-burger menu-overlay-has-visible-non-navigation-items no-actions" data-animation-role="header-element">
                    <button class="header-burger-btn burger" data-test="header-burger">
                        <span hidden class="js-header-burger-open-title visually-hidden">Open Menu</span>
                        <span hidden class="js-header-burger-close-title visually-hidden">Close Menu</span>
                        <div class="burger-box">
                            <div class="burger-inner header-menu-icon-doubleLineHamburger">
                                <div class="top-bun"></div>
                                <div class="patty"></div>
                                <div class="bottom-bun"></div>
                            </div>
                        </div>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- (Mobile) Menu Navigation -->
    <div class="header-menu header-menu--folder-list" data-current-styles="{
    &quot;layout&quot;: &quot;navRight&quot;,
    &quot;action&quot;: {
    &quot;buttonText&quot;: &quot;Get Started&quot;,
    &quot;newWindow&quot;: false
    },
    &quot;showSocial&quot;: false,
    &quot;socialOptions&quot;: {
    &quot;socialBorderShape&quot;: &quot;none&quot;,
    &quot;socialBorderStyle&quot;: &quot;outline&quot;,
    &quot;socialBorderThickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    },
    &quot;menuOverlayAnimation&quot;: &quot;fade&quot;,
    &quot;cartStyle&quot;: &quot;cart&quot;,
    &quot;cartText&quot;: &quot;Cart&quot;,
    &quot;showEmptyCartState&quot;: true,
    &quot;cartOptions&quot;: {
    &quot;iconType&quot;: &quot;stroke-1&quot;,
    &quot;cartBorderShape&quot;: &quot;none&quot;,
    &quot;cartBorderStyle&quot;: &quot;outline&quot;,
    &quot;cartBorderThickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    },
    &quot;showButton&quot;: false,
    &quot;showCart&quot;: false,
    &quot;showAccountLogin&quot;: true,
    &quot;headerStyle&quot;: &quot;dynamic&quot;,
    &quot;languagePicker&quot;: {
    &quot;enabled&quot;: false,
    &quot;iconEnabled&quot;: false,
    &quot;iconType&quot;: &quot;globe&quot;,
    &quot;flagShape&quot;: &quot;shiny&quot;,
    &quot;languageFlags&quot;: [ ]
    },
    &quot;mobileOptions&quot;: {
    &quot;layout&quot;: &quot;logoLeftNavRight&quot;,
    &quot;menuIcon&quot;: &quot;doubleLineHamburger&quot;,
    &quot;menuIconOptions&quot;: {
    &quot;style&quot;: &quot;doubleLineHamburger&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    }
    },
    &quot;dynamicOptions&quot;: {
    &quot;border&quot;: {
    &quot;enabled&quot;: false,
    &quot;position&quot;: &quot;allSides&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 4.0
    }
    }
    },
    &quot;solidOptions&quot;: {
    &quot;headerOpacity&quot;: {
    &quot;unit&quot;: &quot;%&quot;,
    &quot;value&quot;: 100.0
    },
    &quot;border&quot;: {
    &quot;enabled&quot;: false,
    &quot;position&quot;: &quot;allSides&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 4.0
    }
    },
    &quot;dropShadow&quot;: {
    &quot;enabled&quot;: false,
    &quot;blur&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 30.0
    },
    &quot;spread&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    },
    &quot;distance&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    }
    },
    &quot;blurBackground&quot;: {
    &quot;enabled&quot;: false,
    &quot;blurRadius&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    }
    },
    &quot;gradientOptions&quot;: {
    &quot;gradientType&quot;: &quot;faded&quot;,
    &quot;headerOpacity&quot;: {
    &quot;unit&quot;: &quot;%&quot;,
    &quot;value&quot;: 90.0
    },
    &quot;border&quot;: {
    &quot;enabled&quot;: false,
    &quot;position&quot;: &quot;allSides&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 4.0
    }
    },
    &quot;dropShadow&quot;: {
    &quot;enabled&quot;: false,
    &quot;blur&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 30.0
    },
    &quot;spread&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    },
    &quot;distance&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    }
    },
    &quot;blurBackground&quot;: {
    &quot;enabled&quot;: false,
    &quot;blurRadius&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    }
    },
    &quot;showPromotedElement&quot;: false
    }" data-section-id="overlay-nav" data-show-account-login="true" data-test="header-menu">
        <div class="header-menu-bg theme-bg--primary"></div>
        <div class="header-menu-nav">
            <nav class="header-menu-nav-list">
                <div data-folder="root" class="header-menu-nav-folder">
                    <!-- Menu Navigation -->
                    <div class="header-menu-nav-folder-content">
                        <div id="introduction-header-nav-folder-item" class="container header-menu-nav-item header-menu-nav-item--collection">
                            <a href="./overview.html">
                                <div class="header-menu-nav-item-content">
                                        Introduction
                                    </div>
                            </a>
                        </div>
                        <div id="mtb-header-nav-folder-item" class="container header-menu-nav-item header-menu-nav-item--collection">
                            <a href="./mission-translation-brief.html" >
                                <div class="header-menu-nav-item-content">
                                        Mission Translation Brief
                                    </div>
                            </a>
                        </div>
                        <div id="obs-header-nav-folder-item" class="container header-menu-nav-item header-menu-nav-item--collection">
                            <a href="./obs.html">
                                <div class="header-menu-nav-item-content">
                                        Open Bible Stories
                                    </div>
                            </a>
                        </div>
                    </div>
                    <div class="header-menu-actions"></div>
                </div>
            </nav>
        </div>
    </div>
</header>