---
---
@import "main";

.container {
    display: flex;
  }
  
.content {
  flex-grow: 1;
}

.section {
  margin-top: 100px;
  padding: 20px;
}

.navigation-panel {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 300px;
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.navigation-panel a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #F48847;
  font-family: Kepler Std;
  font-size: 20px;
  text-align: center;
}
  