<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.subtitle }}</title>
  </head>

  <body>
    <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1684861113024_8838">
      <div class="sqs-block-content">

          <div class="sqs-block-button-container sqs-block-button-container--center" data-animation-role="button" data-alignment="center" data-button-size="small" data-button-type="tertiary">
              <a href="obs.html" class="sqs-block-button-element--small sqs-button-element--tertiary sqs-block-button-element">
                  OBS Story Index
                </a>
          </div>
      </div>
  </div>
      <h2><b>Downloads:</b></h2>
      <a href="./exports/docx/obs_story_{{page.story_num}}.docx" download="obs_story_{{page.story_num}}.docx">obs_story_{{page.story_num}}.docx</a>
      <a href="./exports/epub/obs_story_{{page.story_num}}.epub" download="obs_story_{{page.story_num}}.epub">obs_story_{{page.story_num}}.epub</a>
      <a href="./exports/odt/obs_story_{{page.story_num}}.odt" download="obs_story_{{page.story_num}}.odt">obs_story_{{page.story_num}}.odt</a>
      <a href="./exports/pdf/obs_story_{{page.story_num}}.pdf" download="obs_story_{{page.story_num}}.pdf">obs_story_{{page.story_num}}.pdf</a>
      {{ content }}
  </body>

</html>
