<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../assets/css/obs-story.css">
    <title>{{ page.subtitle }}</title>
  </head>
  <body>
    <div class="fe-content-wrapper">
      <div>
        <a href="../../obs.html">OBS Story Index</a>
      </div>
      <h2><b>Downloads:</b></h2>
      <a href="../../exports/docx/obs_story_{{page.story_num}}.docx" download="obs_story_{{page.story_num}}.docx">obs_story_{{page.story_num}}.docx</a>
      <a href="../../exports/epub/obs_story_{{page.story_num}}.epub" download="obs_story_{{page.story_num}}.epub">obs_story_{{page.story_num}}.epub</a>
      <a href="../../exports/odt/obs_story_{{page.story_num}}.odt" download="obs_story_{{page.story_num}}.odt">obs_story_{{page.story_num}}.odt</a>
      <a href="../../exports/pdf/obs_story_{{page.story_num}}.pdf" download="obs_story_{{page.story_num}}.pdf">obs_story_{{page.story_num}}.pdf</a>
      
      {{ content }}
    
    </div>
    
    <div class="container">
  
      <div class="navigation-panel">
        <a href="#intro">Introduction</a>
        <a href="#mtb">Mission Translation Brief</a>
        <a href="#obsindex">OBS Story Index</a>
        <a href="#m1">Movement 1</a>
        <a href="#m2">Movement 2</a>
        <a href="#m3">Movement 3</a>
        <a href="#m4">Movement 4</a>
        <a href="#m5">Movement 5</a>
      </div>
    </div>
      </div>
    </div>
  </body>
</html>
